<div class="container">
    <div class="title">
        Edit Student Details
    </div>
    <div class="inner-container">
        <div class="student-data-container">
            <span class="roll">{{studentData.roll}}</span>
            <span class="first_name">{{studentData.first_name}}</span>
            <span class="last_name">{{studentData.last_name}}</span>
         </div>
        <div class="holder">
     
     <form [formGroup]="existingStudentForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field>
            <input matInput placeholder="Roll" type="text" id="roll" name="roll" formControlName="roll" [value]="existingStudentForm.value['roll']">
        </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="First Name" type="text" id="first_name" name="first_name" formControlName="first_name" [value]="existingStudentForm.value['first_name']">
      </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Last Name" type="text" id="last_name" name="last_name" formControlName="last_name" [value]="existingStudentForm.value['last_name']">
        </mat-form-field>
        
        <button mat-raised-button color="accent" type="submit" >Update</button>
    </form>
    </div>
    </div>
</div>
